/*darkmode button*/
.theme{
    background-color: black;
    color: white;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#songlist, #setting {
    width: 20%;
}

#video {
    flex: 1;
    text-align: center;
}
